@model Spring2026_Project3_sostamps.Models.ActorTemp

<h1>Add an Actor</h1>

<form asp-action="Add" method="post" enctype="multipart/form-data">
    
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    
    <div>
        <label>Gender</label>
        <input asp-for="Gender" />
    </div>
    
    <div>
        <label>Age</label>
        <input asp-for="Age" type="number" />
    </div>
    
    <div>
        <label>IMDB Link</label>
        <input asp-for="IMDBLink" />
    </div>
    
    <div>
        <label>Photo</label>
        <input type="file" name="ActorPhoto" />
    </div>
    
    <div>
        <label>Movie(s)</label>
        <input asp-for="Movies" />
    </div>
    
    <br/>
    <button type="submit">Add Actor</button>
</form>

<a href="/Home/Index">Return Home</a>