@model List<Spring2026_Project3_sostamps.Models.ActorTemp>

<h1>Actor List</h1>

<form asp-action="DeleteSelected" method="post">
    <table>
        <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
        
        @foreach (var actor in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="SelectID" value="@actor.Id"/>
                </td>
                <td>@actor.Name</td>
                <td>@actor.Gender</td>
                <td>@actor.Age</td>
            </tr>
        }
    </table>
    <br/>
    
    <button type="submit">Delete Selected</button>
</form>

<a href="/Home/Index">Return Home</a>