/*Any background colors*/
div.light{
    background-color: white;
    color: black;
}
div.dark{
    background-color: #212529;
    color: white;
}
div.sky{
    background-color: skyblue;
    color: black;
}
div.blue{
    background-color: #000088;
    color: white;
}

/*Color Wheel*/
#colorWheel{
    background: linear-gradient(135deg, #ffffff, #333);
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    transition: 0.3s;  
    float:right;
}
div.light #colorWheel {
    background: linear-gradient(135deg, #ffffff, #333);
    color: black;
}
div.dark #colorWheel {
    background: linear-gradient(135deg, #333, #87CEEB);
    color: white;
}
div.sky #colorWheel {
    background: linear-gradient(135deg, #87CEEB, #1e3a8a);
    color: black;
}
div.blue #colorWheel {
    background: linear-gradient(135deg, #1e3a8a, #eeeeee);
    color: white;
}
#colorWheel:active {
    transform: scale(0.95);
}
#colorWheel:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
#Title{
    /*align-content: center;*/
}
#Title:hover{
    color: goldenrod;
}

#AddButt.btn-outline-primary{
    background: dodgerblue;
    color: white;
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 200px;
    border: none;        /* removes default button border */
    cursor: pointer;
}

#DelButt{
    text-decoration: none;
    background: dodgerblue;
    padding: 10px 25px;
    border-radius: 200px;
    font-size: 12px;
    align-items: center;
}
#ViewButt{
    text-decoration: none;
    background: dodgerblue;
    border: goldenrod;
    padding: 10px 25px;
    border-radius: 200px;
    font-size: 12px;
    float: right;
}


