@{
    ViewData["Title"] = "Movie@You";
}
<button id = "colorWheel"> Change Theme </button>
<h1 id="Title">Welcome to Movie@You</h1>

<div>
    <p class="text-center">Text Goes Here once I figure this out</p>
   


    <a id="AddButt" href="/Movies/Add">Add A Movie</a>
    <a id="ViewButt"href="/Movies/View">View Movies</a>
    <a id="DelButt" href="/Movies/Delete">Delete Movies</a>
    

    




</div>    
